.starfield {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    opacity: 0.3;

    &.dimmed {
        opacity: 0.2;
    }
}

.starsSmall,
.starsMedium,
.starsLarge {
    position: absolute;
    animation: twinkle 3s infinite;
    border-radius: 50%; /* Ensure stars are round if they aren't already */
}

.starsSmall {
    width: 1px;
    height: 1px;
    background: white;
}

.starsMedium {
    width: 2px;
    height: 2px;
    background: white;
    animation-duration: 4s;
}

.starsLarge {
    width: 3px;
    height: 3px;
    background: #00f2ff;
    animation-duration: 5s;
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}
