@use '@/styles/variables.scss' as *;

.progressContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: $border;
    z-index: $z-header + 1;
    pointer-events: none;
}

.progressBar {
    height: 100%;
    background: linear-gradient(90deg, $accent-1 0%, $primary 100%);
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;

}
